.home-container {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 100px;
}

.home-container li {
  font-size: 34px;
  line-height: 80px;
}
