.App {
  width: 920px;
  height: auto;
  font-size: 14px;
  color: #304455;
  padding: 80px 0;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
}

hr {
  margin: 20px 0;
  height: 1px;
  background-color: #304455;
  border: none;
}

.doc-title {
  font-size: 1.17em;
  font-weight: 600;
  margin: 40px 0 20px 0;
}

.doc-code {
  background-color: #f8f8f8;
}

.doc-button {
  display: inline-block;
  margin: 20px 5px 20px 0;
}

code {
  display: block;
  width: 80%;
  margin: 15px auto;
  white-space: pre-wrap;
  background-color: #f8f8f8;
  padding: 20px;
}

.fade-leaveed {
  opacity: 0;
  transform: translateX(10px);
}
.fade-leaveing {
  opacity: 0;
  transform: translateX(50px);
  transition: all 600ms ease-in;
}
.fade-entering {
  opacity: 1;
  transition: all 200ms;
}

.bounce-entering {
  transform: scale(1);
  transition: all 500ms;
}
.bounce-leaveing {
  transform: scale(0);
  transition: all 500ms;
}
.bounce-leaveed {
  transform: scale(0);
}

.observer-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.observer-list-item {
  display: inline-block;
  margin-right: 10px;
  transition: 1s all;
}
.observer-leaveed {
  opacity: 0;
  transform: translateY(50px);
}
.observer-leaveing {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s;
}
.observer-entering {
  opacity: 1;
  transition: all 1s;
}

.flip1-list-item {
  padding: 6px 0;
}
.flip1-move {
  transition: all 1s;
}

.flip2-leaveed {
  opacity: 0;
  transform: translateY(50px);
}
.flip2-leaveing {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s;
}
.flip2-entering {
  opacity: 1;
  transition: all 1s;
}
.flip2-move {
  transition: all 1s;
}

.matrix {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 234px;
  height: 234px;
}
.matrix-item {
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  line-height: 24px;
  border: 1px solid #eee;
  text-align: center;
}
.matrix-move {
  transition: all 1s;
}

